<h4 id= "headline" class="center"><br>Editing Student<br><br></h4><br>
<%= render 'form', student: @student %>

<%= link_to 'Show', @student %> 
<% if current_user.role?(:parent) %>
| <%= link_to 'Back', "/home/dash#account" %>
<% else %>
|
<%= link_to 'Back', students_path %>
<% end %>
