<h1>New Student</h1>

<%= render 'form', locals: {student: @student} %>

<% if current_user.role?(:parent) %>
    <%= link_to 'Back', "/home/dash#account" %>
<% else %>
    <%= link_to 'Back', students_path %>
<% end %>