
<div id="registrations">
  <%= hidden_field_tag "camp_id", @camp.id %>
  <% if current_user.role?(:admin) || @families.include?(current_role) || @instructors.include?(current_role) %>
    <div class="card indigo lighten-2" >
      <div class="card-content white-text">
        <span class="card-title">Registered Students</span>
        <ul is='student-row' 
          v-for='student in students' 
          v-bind:student='student'
          class="no_bullet">  
        </ul>
      </div>
    </div>
  <% end %>
  <% if current_user.role?(:parent) %>
    <div class="card indigo lighten-2" >
      <div class="card-content white-text">
        <% if !@eligible_students.empty? && !@camp.is_full? %>
          <div class="card-action">
            <div v-if="modal_open">
              <%= link_to "Cancel", "#", {%s(v-on:click) => "switch_modal()"} %>
            </div>
            <div v-else>
              <%= link_to "Add to Cart", "#", {%s(v-on:click) => "switch_modal()"} %>
            </div>
          </div>
        <% elsif @camp.is_full? %>
          <span class="center card-title">This camp is full.</span>
        <% elsif @eligible_students.empty? %>
          <span class="center card-title">You have no eligible students for this camp at this time.</span>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <div v-if="modal_open">
    <new-student-form></new-student-form>
  </div>
</div>

<script type="text/x-template" id="student-row">
  <li>
    <% if logged_in? && current_user.role?(:admin) %>
      <a v-on:click="remove_record(student)" class="remove">x&nbsp;&nbsp;</a>
    <% end %>
    <% if logged_in? && (current_user.role?(:admin) || @instructors.include?(current_role)) %>
      <a v-on:click="link_to(student)">{{ student.first_name }}&nbsp;{{ student.last_name }}</a>
    <% else %>
      {{ student.first_name + " " + student.last_name }}
    <% end %>
    
    
  </li>
</script>

<script type="text/x-template" id="student-form-template">
  <%= render "student_form_template", locals: {camp: @camp, eligible_students: @eligible_students} %>
</script>