<div class="card indigo lighten-2">
  <div class="card-content white-text" id="camp_instructors_list">
    <span class="card-title">Camp Instructors</span>
	  <%# if @instructors.empty? %>
		<!--<p>No instructors at this time</p>-->
	  <%# else %>
    <tr is='camp-instructor-row' 
      v-for='camp_instructor in camp_instructors' 
      v-bind:camp_instructor='camp_instructor'>  
    </tr>
    <%# end %>
    <div class="card-action">
    <%= link_to "Add a new instructor", new_camp_instructor_path(camp_id: @camp.id) %>
    </div>
  </div>
</div>

<script type="text/x-template" id="camp-instructor-row">
  <tr>
    <td>{{ camp_instructor.instructor_id }}</td>
    <td v-on:click="remove_record(camp_instructor)">Delete</td>
  </tr>
</script>
