<div class="row">
  <div class="field col s12">
    <h4 id= "headline" class="center"><br>Editing Camp<br><br></h4><br>

    <%= render 'form', camp: @camp %>
    <div class="row">
      <div class="field col s12">
        <%= link_to 'Show', @camp, :class=>"btn waves-effect waves-light" %>
      </div>
    </div>
  </div>
</div>
