<h4 id= "headline" class="center"><br>Editing Family<br><br></h4><br>
<%= render 'form', family: @family %>

<%= link_to 'Show', @family %> 
<% if current_role == @family %>
| <%= link_to 'Back', "/home/dash#account" %>
<% else %>
|
<%= link_to 'Back', families_path %>
<% end %>