<h1>Editing Family</h1>

<%= render 'form', family: @family %>

<%= link_to 'Show', @family %> 
<% if current_role == @family %>
| <%= link_to 'Back', "/home/dash#account" %>
<% else %>
|
<%= link_to 'Back', families_path %>
<% end %>