<nav>
  <div class = "container"
    <div class="nav-wrapper">
      &nbsp&nbsp
      <a href="/" class="brand-logo">A&M Chess Camp</a>
      <ul class="right">
        <li><%= link_to "Curriculums", curriculums_path %></li>
        <li><%= link_to "Camps", camps_path %></li>
        <li><%# link_to "My Account", parent_account_path %></li>
        <li><%# link_to "My Cart", cart_path %></li>
        <li><%= link_to 'Logout', logout_path %></li>
        
      </ul>
    </div>
  </div>
</nav>