<nav>
  <div class = "container">
    <div class="nav-wrapper">
      &nbsp&nbsp
      <a href="/" class="brand-logo">A&M Chess Camp</a>
      <ul class="right">
        <li><%= link_to "Curriculums", curriculums_path %></li>
        <li><%= link_to "Camps", camps_path %></li>
        <li><a class="modal-trigger" href="#login">Login</a></li>
        <li><a class="modal-trigger" href="#signup">Signup</a></li>
      </ul>
    </div>
  </div>
  
  
</nav>

