

<nav>
  <div class = "container"
    <div class="nav-wrapper">
      &nbsp&nbsp
      <a href="/" class="brand-logo">A&M Chess Camp</a>
      <ul class="right">
        <li><%= link_to "Curriculums", curriculums_path %></li>
        <li><%= link_to "Camps", camps_path %></li>
        <li><a class="modal-trigger" href="#cart">My Cart<span class="new badge" data-badge-caption="items" style="background-color: #a9bcd0;"><%= session[:cart].size() %></span></a></li>
        <li><%= link_to 'Logout', logout_path %></li>
        
      </ul>
    </div>
  </div>
</nav>


