<div class="container col s8" id="calendar"></div>
<div class="col s4">
  <div class="card">
    <div class="card-content">
      <span class="card-title" style="text-align:center;">Upcoming Camps</span>
      <table>
      <tbody>
          <% current_role.camps.upcoming.each do |c| %>
            <tr>
              <p style="text-align:center;"><%= link_to c.name, c %><br>
              <%= link_to c.location.name, c.location %><br>
              <%= c.start_date.strftime("%m/%d/%y") %><br>
              <%= c.time_slot == "am" ? "Morning" : "Afternoon" %><br></p>
            </tr>
          <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>