<div class="row">
	  <div class="col s12 center">
	  	
    <h4 id= "dash" class="center"><br>Contact A&amp;M Chess Camps<br><br></h4><br>

        <p>Despite the inspiring story we told in our <%= link_to "about page", about_path %>, the
          fact is that these camps are a fiction created for a class project for students at Carnegie Mellon University. No doubt you wanted to sign your
          child up for every camp we offer so they wouldn't lose every round at
          chess tournaments, but apparently you'll just have to keep getting used to losing.
          If you are bitterly disappointed (and quite honestly, you should be) and want to grouse to someone, here's the contact info:</p>

		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Judy Zhang</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("judyz@andrew.cmu.edu", "Judy Zhang*", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>412-268-8211</td>
			</tr>
		</table>
	</div>
</div>