/********** FORMS ********/
.switch label input[type=checkbox]:checked + .lever {
  background-color: #2979ff;
}

.switch label input[type=checkbox]:checked + .lever::after {
  background-color: #2979ff;
}


/********** CARDS ********/
.card a {
  color: #e0f7fa;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #e0f7fa;
}

.card .remove {
  color: #b71c1c;
}

/********** BUTTONS ********/
.btn-alert {
  background-color: #c62828;
  color: #fff;
}
.btn-alert:hover {
  background-color: #e53935;
  color: #fff;
}

/********** MODALS ********/
.modal-content {
  padding: 20px;
}
.modal-footer {
  padding: 50px;
}

/********** PARALLAX ********/
.parallax-container {
  height: 350px;
}

/********** CARDS *********/
li.no_bullet {
  list-style-type: none;
}

/********** OVERALL *********/
// #footer a {
//   color: #5aaa95;
// }

// #body link_to {
//   color: #5aaa95;
// }

html {
  // Preloaded with four fonts; uncomment the one you prefer
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Bitter', serif;
  // font-family: 'Josefin Sans', sans-serif;
  font-family: 'Varela Round', sans-serif;
}