/********** TOPBAR & NAV ********/
// nav {
//   background-color: #ffffff;
// }

// nav ul a {
//   color: #000;
// }


/********** FORMS ********/
.switch label input[type=checkbox]:checked + .lever {
  background-color: #2979ff;
}

.switch label input[type=checkbox]:checked + .lever::after {
  background-color: #2979ff;
}


/********** CARDS ********/
.card a {
  color: #a9bcd0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #e0f7fa;
}

.card .remove {
  color: #b71c1c;
}

/********** BUTTONS ********/
.btn-alert {
  background-color: #c62828;
  color: #fff;
}
.btn-alert:hover {
  background-color: #e53935;
  color: #fff;
}
.btn {
  background-color: #a9bcd0;
}

.btn:hover {
  background-color: #8b9aab;
}

/********** MODALS ********/
.modal-content {
  padding: 20px;
}
.modal-footer {
  padding: 50px;
}

/********** PARALLAX ********/
.parallax-container {
  height: 400px;
}

/********** CARDS *********/
li.no_bullet {
  list-style-type: none;
}

/********** OVERALL *********/
// #footer a {
//   color: #5aaa95;
// }

// #body link_to {
//   color: #5aaa95;
// }

nav {
  // Preloaded with four fonts; uncomment the one you prefer
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Bitter', serif;
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Varela Round', sans-serif;
  font-family: 'Montserrat', sans-serif;

}

footer {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-family: 'Roboto', sans-serif;
}

html a {
  color: #a9bcd0;
}

.absolute {
  position: absolute;
  text-align: center;
  bottom: 10px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
}

.carousel-fixed-item {
  font-family: 'Raleway', sans-serif;
}

h4#dash {
  background-color: #a9bcd0;
  color: white;
  font-family: 'Raleway', sans-serif;
}

h4#checkout {
  background-color: #a9bcd0;
  color: white;
  font-family: 'Raleway', sans-serif;
}

#calendar {
  font-family: 'Raleway', sans-serif;
}

h4#headline {
  background-color: #87c1b1;
  color: white;
  font-family: 'Raleway', sans-serif;
}


