<% if @active_locations.empty? %>
  <h4 id= "headline" class="center"><br>There are no active locations in the system at this time.<br><br></h4><br>
<% else %>
  <%= render :partial => "locations_list", locals: {locations: @active_locations, state: "Active"} %>
<% end %>
<br>
<% unless @inactive_locations.empty? %>
  <%= render :partial => "locations_list", locals: {locations: @inactive_locations, state: "Inactive"} %>
<% end %>
