<div class="row">
  <h4 id= "headline" class="center"><br><%= @location.name %><br><br></h4><br>
  <div class="col s5">
    <%= render :partial => "location_details" %>
  </div>
  <div class="col s7">
    <%= render :partial => "partials/camps_list", locals: {camps: @upcoming_camps_at_location, state: "Upcoming"} %>
  </div>
</div>
<div class="row">
  <% if can? :index, Location %>
    <div class="col s12">
      <% if logged_in? %>
        <%= render :partial => "partials/object_options", locals: {model_name: "location", object: @location} %>
      <% end %>
    </div>
  <% end %>
</div>
<%# link_to 'Edit', edit_location_path(@location) %>
<%# link_to 'Back', locations_path %>